<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store</title>
</head>
    <body>
        <div>
            <h3>add_category</h3>
            <form method="post", action="add_category">
                <b>Category's name</b><input name="category" type="text" required></br>
                <button>done</button>
            </form>

            <h3>add_good</h3>
            <form method="post", action="add_good">
                <b>Good's name</b><input name="name" type="text" required></br>
                    <select required name="category_id" >
                        {% for id, category_name in category.items() %}
                        <option value='{{ id }}'>{{ category_name }}</option>
                        {% endfor %}
                    </select></br>
                <b>in_stock (1/0):</b>
                    <select required name="in_stock" >
                        <option value='1'>yes</option>
                        <option value='0'>no</option>
                    </select></br>
                <b>Good's price</b><input name="price" type="number" required></br>
                <b>Good's quontity</b><input name="count" type="number" required></br>
                <button>done</button>
            </form>

       </div>
    </body>
</html>